name: Docker Build & Push
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Docker meta for default
        id: meta-default
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          # list of Docker images to use as base name for tags
          images: azureorkestra/executor
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{raw}}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            latest
      -
        name: Docker meta for keptn
        id: meta-keptn
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          # list of Docker images to use as base name for tags
          images: azureorkestra/keptn-executor
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{raw}}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            latest
      -
        name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push default
        uses: docker/build-push-action@v2
        with:
          context: ./executors/default
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-default.outputs.tags }}
      -
        name: Build and push keptn
        uses: docker/build-push-action@v2
        with:
          context: ./executors/keptn
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-keptn.outputs.tags }}