name: Testing
on: 
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  testing:
    env:
      working-directory: ./executors/default
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.16', '1.15' ]
    name: Go ${{ matrix.go }} testing 
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
      - name: Restore Go cache
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: |
          make test
          go test -v ./... -coverprofile coverage.txt
        working-directory: ${{env.working-directory}}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.txt
          working-directory: ${{env.working-directory}}